<div class="main-content">
    <div class="container-fluid">
        <div class="container">


            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title">Most visited expert</h3>
                        <p class="card-category">{{expert.job}}</p>
                        <p class="card-category">{{expert.first_name}}</p>
                        <p class="card-category">{{expert.last_name}}</p>
                        <p class="card-category">{{expert.address}}</p>
                        <p class="card-category">{{expert.phone}}</p>


                    </div>
                </div>

                <div class="card">
                    <div class="card-header card-header-success">
                        <h3 class="card-title">Most Scored expert</h3>
                        <p class="card-category">{{bscored.job}}</p>
                        <p class="card-category">{{bscored.first_name}}</p>
                        <p class="card-category">{{bscored.last_name}}</p>
                        <p class="card-category">{{bscored.address}}</p>
                        <p class="card-category">{{bscored.phone}}</p>

                        <h4 class="card-body">Score: {{bscore}}/5</h4>


                    </div>
                </div>

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">Worst Scored expert</h3>
                        <p class="card-category">{{wscored.job}}</p>
                        <p class="card-category">{{wscored.first_name}}</p>
                        <p class="card-category">{{wscored.last_name}}</p>
                        <p class="card-category">{{wscored.address}}</p>
                        <p class="card-category">{{wscored.phone}}</p>

                        <h4 class="card-body">Score: {{wscore}}/5</h4>


                    </div>
                </div>
            </div>
        </div>
    </div>