<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Subscription Table</h4>
                        <p class="card-category"> Here you can add , update and delete a subscription</p>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" (click)="unsubscribe()" >Add new Subscription</button>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">{{editMode? 'Update Subscription' : 'Add Subscription'}}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form [formGroup]="subForm" (ngSubmit)="onSubmit()"  >
                               
                                <div class="form-group">
                                  <label for="date_debut" class="col-form-label">Date Debut :</label>
                                  <input type="date" class="form-control" id="date_debut" name="date_debut" formControlName="date_debut">
                                  <span class="text-danger" *ngIf="!subForm.get('date_debut').valid && subForm.get('date_debut').touched">invalid input</span>
                                </div>
                                <div class="form-group">
                                  <label for="date_fin" class="col-form-label">Date Fin :</label>
                                  <input type="date" class="form-control" id="date_fin" name="date_fin" formControlName="date_fin">
                                  <span class="text-danger" *ngIf="!subForm.get('date_fin').valid && subForm.get('date_fin').touched">invalid input</span>
                                </div>
                                <div class="form-group" *ngIf="!editMode">
                                  <label for="userId" class="col-form-label">UserID :</label>
                                  <input type="text" class="form-control" id="userId" name="userId" formControlName="userId"  >
                                  <span class="text-danger" *ngIf="!subForm.get('userId').valid && subForm.get('userId').touched">invalid input</span>
                                </div>
                                <div class="form-group" *ngIf="!editMode">
                                  <label for="planId" class="col-form-label">PlanID :</label>
                                  <input type="number" class="form-control" id="planId" name="planId" formControlName="planId" >
                                  <span class="text-danger" *ngIf="!subForm.get('planId').valid && subForm.get('planId').touched">invalid input</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary"  [disabled]="!subForm.valid">{{editMode? 'Update' : 'Add'}}</button>
                                  </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Date Debut
                                    </th>
                                    <th>
                                        Date Fin
                                    </th>
                                    <th>
                                        PlanId
                                   </th>
                                    <th>
                                        UserId
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                    <th>
                                        Update
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let sub of subscriptions">
                                        <td>
                                            {{sub.subscriptionId}}
                                        </td>
                                        <td>
                                            {{sub.date_debut}}
                                        </td>
                                        <td>
                                            {{sub.date_fin}}
                                        </td>
                                        <td>
                                          {{sub.planId}}
                                      </td>
                                        <td>
                                          {{sub.userId }}
                                      </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" (click)="onDelete(sub.subscriptionId)" onClick="window.location.reload();" [disabled]="check">Delete</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary"  (click)="onUpdate(sub.subscriptionId)" data-toggle="modal" data-target="#exampleModal" [disabled]="check">Update</button>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                            <h3 *ngIf="isFetching && !error" style=" margin: 0 auto;
                            width: 100px;">Loading..</h3>
                            <div class="alert alert-danger" *ngIf="error">
                                <h1>An Error Occured! </h1>
                                <p>{{error}} </p>
                                <button class="btn btn-danger" (click)="onHandleError()">Okey</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
