<div class="main-content"> 
    <div class="col-md-8">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Update Phase </h4>
          </div>
          <div class="card-body">
              <form>
                  <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input #title matInput placeholder="Title" type="text">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input #duration matInput placeholder="Duration" type="text">
                        </mat-form-field>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <mat-form-field class="example-full-width">
                        <input #number matInput placeholder="Number" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <br>
                  <button (click)="save(title.value , duration.value , number.value)" mat-raised-button type="submit" class="btn btn-danger pull-right">UPDATE</button>
                  <div class="clearfix"></div>
              </form>
          </div>
      </div>
  </div>