.save-button {
    display: flex;
    width: 490px;
    position: absolute;
    right: 0px;
    margin-top: -20px;
    margin-right: 10px;
    align-items: flex-end;
    justify-content: flex-end;
  }