<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Profile</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                  
                                      <input  placeholder="Company (disabled)" disabled>
                                    
                                </div>
                                <div class="col-md-3">
                                   
                                      <input  placeholder="Username">
                                   
                                </div>
                                <div class="col-md-4">
                                    
                                      <input  placeholder="Email address" type="email">
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                 
                                    <input  placeholder="Fist Name" type="text">
                                
                                </div>
                                <div class="col-md-6">
                                  
                                    <input  placeholder="Last Name" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input  placeholder="Adress" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <input  placeholder="City" type="text">
                                </div>
                                <div class="col-md-4">
                                    <input  placeholder="Country" type="text">
                                </div>
                                <div class="col-md-4">
                                    <input  placeholder="Postal Code" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <label>About Me</label>
                                     <textarea  placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                    <!-- <div class="form-group">
  
                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>