<div class="main-content">
  <h3>Update Course</h3>
  <div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="course.name" name="name">
      </div>

      <div class="form-group">
        <label for="name">Modality</label>
        <input type="text" class="form-control" id="modality" required [(ngModel)]="course.modality" name="modality">
      </div>

      <div class="form-group">
        <label for="name">nbrPhases</label>
        <input type="text" class="form-control" id="nbrPhases" required [(ngModel)]="course.nbrPhases" name="nbrPhases">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>  