

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>List Offers</a>
      <ng-template ngbNavContent>
        <app-offer-front></app-offer-front>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>my applications</a>
      <ng-template ngbNavContent>
        <app-application-front></app-application-front>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Recomendation</a>
      <ng-template ngbNavContent>
        <app-recomandation></app-recomandation>
      </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>