<div class="main-content">
    <div class="container-fluid">
        <div class="container">
            <div class=" row ">
                <div class="col-md-12 ">

                    <form [formGroup]="service.formModel ">

                        <div class="form-group ">


                            <option *ngFor="let r of reps" value="{{r.id}}"></option>

                            <div class="col-12">
                                <div class="input-group">
                                    <input type="text" class="form-control " id="reviewBody" #reviewBody placeholder="Review Body">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">

                                    <input class="form-control" id="reviewDate" placeholder="Review Date    yyyy-mm-dd" #reviewDate ngbDatepicker #c="ngbDatepicker">
                                    <button class="btn btn-outline-secondary calendar" (click)="c.toggle()" type="button"></button>
                                </div>
                            </div>


                            <div class="col-12">
                                <div class="input-group">
                                    <input type="text" class="form-control " id="reviewHeader" #reviewHeader placeholder="Review Header">
                                </div>
                            </div>



                            <div>

                                <div class="col-12">
                                    <div class="input-group">
                                        <input type="number" class="form-control " id="stars" #stars placeholder="Stars">
                                    </div>
                                </div>



                                <button mat-raised-button type="submit " class="btn btn-danger" (click)="addReview(myParam,reviewBody.value,reviewDate.value,reviewHeader.value,stars.value)">Add Review</button>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>