
                            	<div class="container padding-bottom-3x mb-2 mt-5">
                                    <div class="row justify-content-center">
                                      <div class="col-lg-8 col-md-10">
                                        <div class="alert alert-success" *ngIf="isChecked">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <p><strong>Congratulations !</strong> you can  <strong>log in with your new password now</strong></p>
                                          </div>
                                          <div class="forgot">
                                            
                                            <h2>Change Password</h2>
                                        <ol class="list-unstyled">
                                          <li><span class="text-primary text-medium"> </span>Must be a least with 8 characters</li>

                                        </ol>
                              
                                        </div>
                                        	
                                        
                                        <form class="card mt-4" #forgetForm="ngForm" (ngSubmit)="onSubmit(forgetForm)">
                                          <div class="card-body">
                                            <div class="form-group">
                                              <label for="password">Enter your new password</label>
                                              <input class="form-control" type="password" name="password" id="password" required password ngModel minlength="8"><small class="form-text text-muted">Enter a valid password</small>
                                            </div>
                                          </div>
                                          <div class="card-footer">
                                            <button class="btn btn-success" type="submit" [disabled]="!forgetForm.valid" >Confirm</button>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>