<div class="main-content">
    <div class="container-fluid">
        <div class="container">


            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div>
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Appointment Rate</h4>

                                </div>
                                <div class="card-body" *ngFor="let art of apprates">

                                    <div class="row">
                                        <mat-card class="example-card">
                                            <mat-card-title>{{art.satisfaction}}</mat-card-title>

                                            <mat-card-content>

                                                <p>{{art.stars}}</p>

                                            </mat-card-content>

                                        </mat-card>


                                    </div>

                                    <div class="clearfix"></div>

                                </div>
                            </div>

                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</div>