<div>
    <div>
        <h3> Banned Experts</h3>
    </div>
    <div class="card" *ngFor="let e of exps">
        <div *ngIf="e.role == 'EXPERT'">
            <div *ngIf="e.ban == 1">

                <div class="card-body">


                    <h6 class="card-category text-gray">{{e.job}}</h6>

                    <h4 class="card-title">{{e.first_name}} {{e.last_name}}</h4>
                    <p class="card-description">
                        Address: {{e.address}}
                    </p>
                    <p class="card-description">Phone: {{e.phone}}</p>
                </div>

            </div>
        </div>
    </div>
</div>