<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <input type="text" value="" placeholder="Regular" class="form-control" />
        </div>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="With Floating Label">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width has-success">
        <input matInput type="text" placeholder="Success input">
        <span class="form-control-feedback">
          <i class="material-icons">done</i>
        </span>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width has-danger">
        <input matInput type="text" placeholder="Error input">
        <span class="form-control-feedback">
          <i class="material-icons">clear</i>
        </span>
      </mat-form-field>
    </div>
  </div>