
<div class="courses-container">


    <div class="row justify-content-center">
        <div class="course" *ngFor="let item of myApplication">
            
            <div class="course-preview">
                <h6>{{item.title}}</h6>
                <h5>{{item.email}}</h5>
            </div>
            <div class="course-info">
                <div class="progress-container">
                    <div class="progress"></div>

                    <span *ngIf="item.etat==false" class="progress-text">
                        <i class="fa fa-close"></i>
                        en cours de traitement
                    </span>
                    <span *ngIf="item.etat==true" class="progress-text">
                        <i class="fa fa-check"></i>
                        valider
                    </span>
                </div>
                <h6>{{item.date | date }}</h6>
            </div>


        </div>
        
    </div>
</div>