<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Products Table</h4>
                        <p class="card-category"> Here you can add , update and delete a product</p>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" (click)="unsubscribe()" >Add new Product</button>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">{{editMode? 'Update Product' : 'Add Product'}}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form [formGroup]="productForm" (ngSubmit)="onSubmit()"  >
                               

                                <div class="form-group">
                                  <label for="title" class="col-form-label">Title :</label>
                                  <input type="text" class="form-control" id="title" name="title" formControlName="title">
                                  <span class="text-danger" *ngIf="!productForm.get('title').valid && productForm.get('title').touched">invalid input</span>
                                </div>
                                <div class="form-group">
                                  <label for="photo" class="col-form-label">Photo :</label>
                                  <input type="text" class="form-control" id="photo" name="photo" formControlName="photo" #photo> <br>
                                  <div class="row">
                                    <div class="col-xs-12" style="justify-content: center;">
                                       <img [src]="photo.value" class="img-responsive" style="max-height:300px; ">
                                    </div>
                                </div>
                                  <span class="text-danger" *ngIf="!productForm.get('photo').valid && productForm.get('photo').touched">invalid input</span>
                                </div>
                                <div class="form-group">
                                  <label for="price" class="col-form-label">Price :</label>
                                  <input type="number" class="form-control" id="price" name="price" formControlName="price">
                                  <span class="text-danger" *ngIf="!productForm.get('price').valid && productForm.get('price').touched">invalid input</span>
                                </div>
                                <div class="form-group">
                                  <label for="quantity" class="col-form-label">Quantity :</label>
                                  <input type="number" class="form-control" id="quantity" name="quantity" formControlName="quantity">
                                  <span class="text-danger" *ngIf="!productForm.get('quantity').valid && productForm.get('quantity').touched">invalid input</span>
                                </div>
                                <div class="form-group">
                                  <label for="description">Description</label>
                                  <textarea 
                                  type="text" 
                                  id="description" 
                                  class="form-control"
                                  formControlName="description"
                                  rows="6"></textarea>
                                  <span class="text-danger" *ngIf="!productForm.get('description').valid && productForm.get('description').touched">invalid input</span>
                              </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" onClick="window.location.reload();" [disabled]="!productForm.valid">{{editMode? 'Update' : 'Add'}}</button>
                                  </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                      Quantity
                                   </th>
                                    <th>
                                        Photo Url
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                    <th>
                                        Update
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of products">
                                        <td>
                                            {{product.productId}}
                                        </td>
                                        <td>
                                            {{product.title}}
                                        </td>
                                        <td>
                                            {{product.price}}
                                        </td>
                                        <td>
                                          {{product.quantity}}
                                      </td>
                                        <td>
                                            <img [src]="product.photo" class="img-responsive" style="max-height:50px;">
                                        </td>
                                        <td>
                                          {{product.description}}
                                      </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" (click)="onDelete(product.productId)" onClick="window.location.reload();" [disabled]="check">Delete</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary"  (click)="onUpdate(product.productId)" data-toggle="modal" data-target="#exampleModal" [disabled]="check">Update</button>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                            <h3 *ngIf="isFetching && !error" style=" margin: 0 auto;
                            width: 100px;">Loading..</h3>
                            <div class="alert alert-danger" *ngIf="error">
                                <h1>An Error Occured! </h1>
                                <p>{{error}} </p>
                                <button class="btn btn-danger" (click)="onHandleError()">Okey</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  