<div class="main-content">

    <div [hidden]="submitted" style="width: 400px;">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" class="form-control" id="title" required [(ngModel)]="phase.title" name="title">
        </div>
    
        <div class="form-group">
          <label for="name">Duration</label>
          <input type="text" class="form-control" id="duration" required [(ngModel)]="phase.duration" name="duration">
        </div>
    
        <button (click) = "save()" class="btn btn-success">Add</button>
      </form>
    </div>
  </div>