<div class="container input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" #searchText />
    <span class="input-group-text border-0" id="search-addon" (click)='searchOffer(searchText.value)'>
        <i class="fa fa-search"></i>
    </span>
</div>
<div class="courses-container">


    <div class="row justify-content-center">
        <div class="course" *ngFor="let item of offers">
            
            <div class="course-preview">
                <h6>{{item.jobCategory.nom}}</h6>
                <h2>{{item.address}}</h2>
            </div>
            <div class="course-info">
                <div class="progress-container">
                    <div class="progress"></div>
                    <span class="progress-text">
                        {{item.level}} experience
                    </span>
                </div>
                <h6>{{item.jobType}}</h6>
                <h2>{{item.title}}</h2>
                <div class="row">

                    <button class="btn" style="margin-right:200px;" (click)="funct(item)">Continue</button>
                    <button class="btn" (click)='translateOffer(item.id)'>translate</button>
                </div>


            </div>


        </div>
        
    </div>
</div>