<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Material Dashboard Heading</h4>
              <p class="card-category">Created using Roboto Font Family</p>
          </div>
          <br>
          <div class="card-body">
            <div class="row tm-gallery">
              <div id="tm-gallery-page-pizza" class="row tm-gallery">
                  <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item" *ngFor="let plan of plans">
                      <figure>
                    <img [src]="plan.photo"  class="img-fluid tm-gallery-img" />
                    <figcaption>
                        <h4 class="tm-gallery-title">{{plan.title}}</h4>
                        <p class="tm-gallery-price">{{plan.price}} milim</p>
                        <button type="submit" class="btn btn-danger" (click)="onSubmit(plan.title , plan.id)">Subscribe</button>
                    </figcaption>
                    </figure>
                  </article>
          </div>
      </div>
                            <div class="alert alert-danger" *ngIf="error">
                                <h1>An Error Occured! </h1>
                                <p>{{error}} </p>
                                <button class="btn btn-danger" (click)="onHandleError()">Okey</button>
                              </div>
  </div>
</div>
</div>
</div>

  
