<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Users Table</h4>
                        <p class="card-category"> Here all our users , add new one , update or delete one</p>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" (click)="unsubscribe()">Add new User</button>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">{{editMode? 'Update User' : 'Add User'}}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"  >
                                <div class="form-group">
                                  <label for="first_name" class="col-form-label">First name :</label>
                                  <input type="text" class="form-control"  id="first_name" name="first_name" formControlName="first_name" >
                                  <span class="text-danger" *ngIf="!signupForm.get('first_name').valid && signupForm.get('first_name').touched">invalid input</span>
                                </div>
                                <div class="form-group">
                                  <label for="last_name" class="col-form-label">Last name :</label>
                                  <input type="text" class="form-control" id="last_name" name="last_name" formControlName="last_name">
                                  <span class="text-danger" *ngIf="!signupForm.get('last_name').valid && signupForm.get('last_name').touched">invalid input</span>
                                </div>
                                <div class="form-group">
                                  <label for="email" class="col-form-label">Email :</label>
                                  <input type="email" class="form-control" id="email" name="email" formControlName="email">
                                  <span class="text-danger" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">invalid input</span>
                                </div>
                                <div class="form-group" *ngIf="disabled">
                                  <label for="password" class="col-form-label">Password :</label>
                                  <input type="password" class="form-control" id="password" name="password" formControlName="password">
                                  <span class="text-danger" *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">invalid input</span>
                                </div>
                                <div class="form-group">
                                  <label for="phone" class="col-form-label">Phone :</label>
                                  <input type="tel" class="form-control" id="phone" name="phone" formControlName="phone">
                                  <span class="text-danger" *ngIf="!signupForm.get('phone').valid && signupForm.get('phone').touched">invalid input</span>
                                </div>
                                <div class="form-group">
                                  <label for="date_birth" class="col-form-label">BirthDate :</label>
                                  <input type="date" class="form-control" id="date_birth" name="date_birth" formControlName="date_birth">
                                  <span class="text-danger" *ngIf="!signupForm.get('date_birth').valid && signupForm.get('date_birth').touched">invalid input</span>
                                </div>
                                <div class="form-group">
                                  <label for="city" class="col-form-label">City :</label>
                                  <input type="text" class="form-control" id="city" name="city" formControlName="city">
                                  <span class="text-danger" *ngIf="!signupForm.get('city').valid && signupForm.get('city').touched">invalid input</span>
                                </div>
                                <div class="form-group">
                                  <label for="state" class="col-form-label">State :</label>
                                  <input type="text" class="form-control" id="state" name="state" formControlName="state">
                                  <span class="text-danger" *ngIf="!signupForm.get('state').valid && signupForm.get('state').touched">invalid input</span>
                                </div>
                                <div class="form-group">
                                  <label for="zipCode" class="col-form-label">ZipCode :</label>
                                  <input type="text" class="form-control" id="zipCode" name="zipCode" formControlName="zipCode">
                                  <span class="text-danger" *ngIf="!signupForm.get('zipCode').valid && signupForm.get('zipCode').touched">invalid input</span>
                                </div>
                                <div class="form-group">
                                  <label for="address" class="col-form-label">Address :</label>
                                  <input type="text" class="form-control" id="address" name="address" formControlName="address">
                                  <span class="text-danger" *ngIf="!signupForm.get('address').valid && signupForm.get('address').touched">invalid input</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" onClick="window.location.reload();" [disabled]="!signupForm.valid">{{editMode? 'Update' : 'Add'}}</button>
                                  </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        First_Name
                                    </th>
                                    <th>
                                        Last_Name
                                    </th>
                                    <th>
                                        BirthDate
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        State
                                    </th>
                                    <th>
                                        ZipCode
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                    <th>
                                        Update
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users" >
                                        <td>
                                            {{user.id}}
                                        </td>
                                        <td>
                                            {{user.first_name}}
                                        </td>
                                        <td>
                                            {{user.last_name}}
                                        </td>
                                        <td>
                                            {{user.date_birth | date: 'dd-MM-yyyy'}}
                                        </td>
                                        <td>
                                            {{user.email}}
                                        </td>
                                        <td>
                                            {{user.phone}}
                                        </td>
                                        <td>
                                            {{user.city}}
                                        </td>
                                        <td>
                                            {{user.state}}
                                        </td>
                                        <td>
                                            {{user.zipCode}}
                                        </td>
                                        <td>
                                            {{user.address}}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" (click)="onDelete(user.userId)" onClick="window.location.reload();">Delete</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary"  (click)="onUpdate(user.userId)" data-toggle="modal" data-target="#exampleModal">Update</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  