<div class="main-content" style="margin: auto;">
    <div class="container-fluid" style="background-color: #f44336; ">
        <table>
            <td><img width="500" height="500" src="assets/img/courses/logo.jpg"></td>
            <td style="text-align: center;">
                <h2 style="color: #fce6e6; font-weight: bold;">Empowering women to build a  brighter future !! </h2>
                <button class="btn" style="background-color: #fce6e6; color: rgb(107, 0, 0); font-weight: bold;">LOGIN</button>
            </td>
        </table>
    </div>
</div>
