
<div class="courses-container">


    <div class="row justify-content-center">
        <div class="course" *ngFor="let item of recomandation">
            
            <div class="course-preview">
                <h6>{{item.jobCategory.nom}}</h6>
                <h2>{{item.address}}</h2>
            </div>
            <div class="course-info">
                <div class="progress-container">
                    <div class="progress"></div>
                    <span class="progress-text">
                        {{item.level}} experience
                    </span>
                </div>
                <h6>{{item.jobType}}</h6>
                <h2>{{item.title}}</h2>
                <div class="row">

                    <button class="btn" style="margin-right:200px;" (click)="funct(item)">Postuler</button>
                    <button class="btn" (click)='translateOffer(item.id)'>translate</button>
                </div>


            </div>


        </div>
        
    </div>
</div>