<div class="main-content">
    <a routerLink="mycourses" class="btn btn-danger btn-round right"> My Courses </a>

    <div class="row" >
        <div *ngFor="let c of courses" class="col-md-4">
            <div class="card card-chart" >
                        <div class="card-header card-header-danger" >
                            <img mat-card-sm-image src="../assets/img/courses/kitchen.jpg"/>  
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" style="color: red;"><b>{{c.name}}</b></h3>
                            <p class="card-category">
                                <span class="text-dark"> {{c.price}} DT </span>
                                <br> {{c.modality}}
                                <p *ngIf="c.modality == 'presentiel'">
                                <a href="">click here to see the location </a>
                                </div>
                        <div class="card-footer">
                            <div class="stats">
                                <p>
                                <i class="material-icons" style="margin-left: 2px;">stars</i> {{c.rate}}
                                <i class="material-icons" style="margin-left: 50px;">date_range</i>{{c.datePublished}}
                                <i class="material-icons" style="margin-left: 40px;">supervisor_account</i>{{c.nbrOfEnrolls}} 
                                </p>
                            </div>
                        </div>
                        <div>
                            <a [routerLink]="[c.id,'detailscourseu']" style="margin-left: 255px;" matTooltip="Course Details" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon " ><i class="material-icons" style="font-size: 30px ;">info</i></a>    
                            <a routerLink="mycourses" matTooltip="Apply" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon " ><i class="material-icons" style="font-size: 30px ;">add</i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
