<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">

                        <h4 class="card-title ">ADD Offer </h4>
                    </div>
                    <form class="card-body">
                        <div class="form-group">
                            <label for="ControlSelect">Category select</label>

                            <select class="form-control" id="Category" #Category
                                (change)="ChangingValue($event)">
                                <option *ngFor="let item of categorys" value="{{item.id}}">{{ item.nom }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="InputTitle">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Enter your title" #title>
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small> -->
                        </div>
                        <div class="form-group">
                            <label for="InputDescription">Description</label>
                            <input type="text" class="form-control" id="description"
                                placeholder="Enter your Description"
                                #description>
                        </div>
                        <div class="form-group">
                            <label for="InputAdress">Country</label>
                            <input type="text" class="form-control" id="address" placeholder="Enter Country Job"
                            #Country>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Email address</label>
                            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                                placeholder="Enter email"
                                #email>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="ControlSelect">JobType select</label>

                            <select class="form-control" id="JobType" #selectedValue
                                (change)="ChangingValue($event)">
                                <option *ngFor="let item of jobType" [ngValue]="item">{{ item }}</option>
                            </select>
                        </div>
                        <label>StartDate</label>
                        <div class="col-3">
                            <div class="input-group">
                                
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" #StartDate
                                    ngbDatepicker #d="ngbDatepicker">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                    type="button"></button>
                            </div>
                        </div>
                        <label>EndDate</label>
                        <div class="col-3">
                            <div class="input-group">
                                
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dc" #EndDate
                                    ngbDatepicker #c="ngbDatepicker">
                                <button class="btn btn-outline-secondary calendar" (click)="c.toggle()"
                                    type="button"></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputTitle">LEVEL</label>
                            <input type="number" class="form-control" id="level" placeholder="Enter your level experience" #level>
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small> -->
                        </div>



                        <button type="submit" class="btn btn-primary" (click)="addOffer(title.value,description.value,Country.value,email.value,StartDate.value,EndDate.value,selectedValue.value,Category.value,level.value)">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>